.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346;
    padding: 16px 120px;
    
}
.items ul{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 32;
    width: 365px;
    height: 24px;
    list-style: none;

}

.items a{
    text-decoration: none;
    color: black;
}

.items a:hover{
    background-color: #04f067;
}

.btn{
    background-color:#30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    width: 132px;
    height: 30px;
    gap: 10;
    color: #FFFFFF;
    cursor: pointer; 

}

.btn:hover{
    background-color: #04f067;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-parent{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-image:url(../assets/hero-bg.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   max-width: 1600px;
   max-height: 300px;
   padding:100px ;
   
}

.text-1{
    color:#FFFFFF;
}
.text-2{
    color: #30B868;
}

.paragraph{
    color: #FFFFFF;
}