.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 346;
    padding: 16px 120px;
    
}
.items ul{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 32;
    width: 365px;
    height: 24px;
    list-style: none;

}

.items a{
    text-decoration: none;
    color: black;
}

.items a:hover{
    background-color: #04f067;
}

.btn{
    background-color:#30B868;
    border: 1px solid #30B868;
    border-radius: 4px;
    width: 132px;
    height: 30px;
    gap: 10;
    color: #FFFFFF;
    cursor: pointer; 

}

.btn:hover{
    background-color: #04f067;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-parent{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-image:url(../assets/hero-bg.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   max-width: 1600px;
   max-height: 300px;
   padding:100px ;
   
}

.text-1{
    color:#FFFFFF;
}
.text-2{
    color: #30B868;
}

.paragraph{
    color: #FFFFFF;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.btn-1:hover{
    background-color:  #04f067;
}

.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    gap: 10px;
    background-color: #30B868;
    color: #FFFFFF;
    border: 1px solid #30B868;
}

.btn-2:hover{
    background-color: #04f067;
}

.btn-2{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background:none;
    color: #FFFFFF;
   border: 1px solid #FFFFFF;
}



.white:hover{
    background-color: #04f067;
}


.white{
    background-color:#FFFFFF;
    color:#30B868;
    border:1px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    padding:5px 8px;
    margin:10px 0px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#dde0e1;
}

.section h2{
    color:var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-style: bold;
}

.section p{
    color:var(--#627382, rgba(98, 115, 130, 1));
    font-size: 9px;
}

.cards{
    display: flex;
    background-color: #dde0e1;
    justify-content: space-between;
    gap: 3px;
    margin: 0px autp;
    padding-left: 100px;
    padding-right: 100px;
}

.card{
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:140px;
    height:40px;
    padding:100px 40px;
    gap: 8px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}


.bold{
    font-size: 20px;
    font-style: semi-bold;
    font-weight: 600;
}


.small{
    color:var(--#627382, rgba(98, 115, 130, 1));
    font-size: 9px;
    font-style: regular;
    font-weight: 400;

}

.card img{
    background-color:rgba(249, 85, 85, 1) ;
border-radius: 25px;
padding: 7px;
}


.jui img{
    background-color:#dde0e1;
    size: 50%;
    max-width: 400px;
    max-height: 400px;
}


.Nishita {
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding: 120px;
}


.font p{
    font-size: 13px;
    color: #30B868;
}

.font p2{

color:rgba(98, 115, 130, 1);
 font-size: 16px;
}

.font h2{
   color:rgba(0, 25, 49, 1);

    font-style:bold;
} 

.list-item ul{
    font-size: 16px;
    color: rgba(0, 25, 49, 1);
}

.list-item ul{
   list-style: url(../assets/CheckCircle.png);
}


.bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
    margin:2px 120px;
    border: 12px;
    padding: 80px 40px;
    max-width: 1360px;
    max-height: 384px;

}

.bonus p{
    color:rgba(98, 115, 130, 1);
    font-size: 16px;
}

.bonus button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    gap: 10px;
    background-color: #30B868;
    color: #FFFFFF;
    border: 1px solid #30B868;
}

.bonus button:hover{
    background-color: #04f067;
}


.foot{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 120px 120px 5px 120px;
    background-color: rgba(0, 25, 49, 1);
    /* margin-bottom: 30px; */
}

.icon p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}
.icon{
    gap:20px ;
}

.icon img{
background-color: #FFFFFF;
/* justify-content: space-between;
gap: 4px; */
width:25px ;
height: 25px;
gap: 10px;
border-radius: 15px;
}



.copy{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #627382;
    margin-top: 20px;
}

.fail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


